.projects{
    margin-top: 10%;
    display: flex;
    place-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-inline: 10%;
    overflow: hidden;
}
.projects .pointer{
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgb(113,93,150);
    background: radial-gradient(circle, rgba(113,93,150,1) 0%, rgba(0,0,0,0) 53%);
}
.projects .row{
    display: flex;
    place-items: center;
    flex-direction: row;
    gap:4px;
    margin-bottom: 4px;
}
.projects .row .project{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark2);
    padding: 20px;
}
.projects .row .project h3{
    color: var(--light2);
}
.projects .row .project .description{
    color: var(--light1);
}