body{
    background-color: rgb(40, 40, 40);
    font-family: Arial, sans-serif;
    color:rgb(240, 240, 240)
}
.mainPage{
    background-color: rgb(53, 53, 53);
    border-radius: 25px;
    box-shadow: darkgoldenrod;
    box-shadow: 10px;
    margin: 15px;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
hr{
    margin-inline:5%;
    margin-bottom:10px;
}
.headerButtons{
    display: none;
    margin-inline:5%;
    display: flex;
    justify-content: right;
}
.headerButtons a{
    
    text-decoration: none;
    color: white;
    transition: 0.2s;
    margin-top: 15px;
}
.headerBut1,.headerBut2,.headerBut3,.headerBut4{
    display: flex;
    justify-content: center;
    width:90px;
    height: 50px;
}
.headerBut1:hover,.headerBut2:hover,.headerBut3:hover,.headerBut4:hover{
    font-size: 130%;
    background-color: gray;
    animation-name: backgroundChangeOnHover;
    animation-duration: 0.3s;
}
.menuButtons{
    margin-left:5%;
    width: 43px;
    height: 33px;
}
.menu1,.menu2,.menu3{
    width:35px;
    height: 5px;
    margin:6px; 
    margin-inline:10%;
    background-color: aliceblue;
    
    transition: 0.2s;
}
.change .menu1{
    transform: translate(0,11px);
}
.change .menu3{
    transform: translate(0,-11px);
}
.change .menu2{
    background-color: transparent;
}
@media screen and (min-width: 600px) {
    .mobileView{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .desktopView{
        display: none;
    }
}

@keyframes backgroundChangeOnHover{
    0%{border-radius: 50%;}
    100%{border-radius: 0%;}
}
